.ClothingItems{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: 2px solid red;
padding: 20px;
background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);  
font-family: 'Poppins', sans-serif;
color: white;
}

.ClothingItems>h1{
    font-size: 1.1rem;
    font-weight: bold;
}
.ClothingItems>h2{
    font-size: 1rem;
}